/* Reset básico */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da extensão */
body {
  width: 260px;
  margin: 0;
  padding: 16px;
  background-color: #0f172a; /* azul escuro */
  color: #e5e7eb;
}

/* Título */
h1 {
  font-size: 16px;
  margin-bottom: 14px;
  text-align: center;
  color: #25d366; /* verde WhatsApp */
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background-color: #020617;
  color: #e5e7eb;
  outline: none;
  margin-bottom: 12px;
}

input::placeholder {
  color: #94a3b8;
}

input:focus {
  border-color: #25d366;
}

/* Botão */
button {
  width: 100%;
  padding: 9px;
  border-radius: 6px;
  border: none;
  background-color: #25d366;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #1ebe5d;
}

button:active {
  transform: translateY(2px);
  background-color: #1aa34a;
  box-shadow: 0 2px 0 #127836;
}


.container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 12px;
  text-align: center;
  margin-bottom: 12px;
  color: #94a3b8;
}

.footer {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: #64748b;
}
